<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Bank_Statement_Scanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>

	<appSettings>
		<add key="OutputPath" value=""/>
		<add key="UseInputPath" value="true"/>
	</appSettings>

	<userSettings>
  <Bank_Statement_Scanner.Properties.Settings>
   <setting name="DefaultOutputFolderPath" serializeAs="String">
    <value />
   </setting>
  </Bank_Statement_Scanner.Properties.Settings>
 </userSettings>
</configuration>